<!DOCTYPE html>
<html>

{% include head.html %}

<body>

    {% include header.html %}

    <section id="banner" class="major" 
        style="
        {% if page.image %}
            background-image: url('{{ page.image | relative_url }}');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        {% endif %}
        min-height: auto; 
        padding: 5em 0 3em 0;
        ">
        
        <div class="inner">
            <header class="major">
                <h1>{{ page.landing-title }}</h1>
            </header>
            <div class="content">
                <p style="text-transform: none;">{{ page.description }}</p>
            </div>
        </div>
    </section>

    <div id="main">

        {% include tiles.html %}

    </div>

    {% include footer.html %}

</body>

</html>
