<!DOCTYPE html>
<html>

{% include head.html %}

<body>

    {% include header.html %}

    <section id="banner" class="major" 
        style="
        {% if page.image %}
            background-image: url('{{ page.image | relative_url }}');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        {% endif %}
        min-height: auto !important; /* Disattiva l'altezza minima del tema */
        height: auto !important;     /* Forza l'altezza ad adattarsi al contenuto */
        padding: 4em 0 3em 0 !important; /* Riduciamo lo spazio sopra e sotto */
        ">
        
        <div class="inner">
            <header class="major">
                <h1>{{ page.landing-title }}</h1>
            </header>
            <div class="content">
                <p style="text-transform: none; max-width: 100%;">{{ page.description }}</p>
            </div>
        </div>
    </section>

    <div id="main">

        {% include tiles.html %}

    </div>

    {% include footer.html %}

</body>

</html>
